package pages

templ (t *PageTypeHTML) Body(p *Page) {
	<body class="grid gap-6 p-6 antialiased">
		<header class="space-y-6">
			<div class="space-y-1">
				<h1 class="owl-h1">{ p.Title }</h1>
				<div>{ p.Meta.Description }</div>
			</div>
			@p.Breadcrumb()
		</header>
		<main class="space-y-6">
			@templ.Raw(t.Html)
		</main>
		@p.Footer()
	</body>
}
