package pages

templ (t *PageTypeHTML) Body(page *Page) {
	<body class="grid gap-16 p-6 antialiased">
		<header class="space-y-6">
			<div class="space-y-1">
				<h1 class="owl-h1">{ page.Title }</h1>
				<div>{ page.Meta.Description }</div>
			</div>
			@page.Breadcrumb()
		</header>
		<main class="space-y-6">
			@templ.Raw(t.Html)
		</main>
		@page.Footer()
	</body>
}
