package pages

templ (t *PageTypeHTML) Body(page *Page) {
	<body class="bg-white text-black flex min-h-screen flex-col antialiased space-y-10">
		@page.Header()
		<main class="container mx-auto px-6 flex-grow">
			@templ.Raw(t.Html)
		</main>
		@page.Footer()
	</body>
}
